# Ignore bin directory
bin/

# Ignore .vscode directory
.vscode/

# Ignore build directories
build/
out/

# Ignore Java specific files
*.class
*.jar
*.war
*.ear

# Ignore IDE specific files
*.iml
*.ipr
*.iws
.idea/
*.swp

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp
*~.nib
.DS_Store
Thumbs.db

# Ignore OS-specific files
._*
.Spotlight-V100
.Trashes
